[submodule "SM_UDK"]
    path = SM_UDK
    url = https://microsoft.visualstudio.com/DefaultCollection/MsUEFI/_git/CORE
    branch = release/20180123_w_BuildEnv
[submodule "SM_UDK_INTERNAL"]
    path = SM_UDK_INTERNAL
    url = https://windowspartners.visualstudio.com/MSCoreUEFI/_git/Core_UEFI_Internal
    branch = release/20180123_w_BuildEnv

