[submodule "MU_BASECORE"]
    path = MU_BASECORE
    url = https://dev.azure.com/microsoft/OS/_git/hyperv.uefi.mu_basecore
    branch = release/202405
[submodule "Common/MSCORE_INTERNAL"]
    path = Common/MSCORE_INTERNAL
    url = https://dev.azure.com/windowspartners/MSCoreUEFI/_git/Core_UEFI_Internal
    branch = release/202302
[submodule "Common/MU"]
    path = Common/MU
    url = https://github.com/Microsoft/mu_plus.git
    branch = release/202405
[submodule "Common/MU_TIANO"]
    path = Common/MU_TIANO
    url = https://dev.azure.com/microsoft/OS/_git/hyperv.uefi.mu_tiano_plus
    branch = release/202405
[submodule "Feature/DEBUGGER"]
    path = Feature/DEBUGGER
    url = https://github.com/microsoft/mu_feature_debugger.git
    branch = main
[submodule "Silicon/ARM/MU_TIANO"]
    path = Silicon/ARM/MU_TIANO
    url = https://github.com/Microsoft/mu_silicon_arm_tiano.git
    branch = release/202405
