[submodule "MU_BASECORE"]
    path = MU_BASECORE
    url = https://dev.azure.com/microsoft/OS/_git/hyperv.uefi.mu_basecore
[submodule "Common/MSCORE_INTERNAL"]
    path = Common/MSCORE_INTERNAL
    url = https://dev.azure.com/windowspartners/MSCoreUEFI/_git/Core_UEFI_Internal

[submodule "Common/MU"]
    path = Common/MU
    url = https://github.com/Microsoft/mu_plus.git
[submodule "Common/MU_TIANO"]
    path = Common/MU_TIANO
    url = https://dev.azure.com/microsoft/OS/_git/hyperv.uefi.mu_tiano_plus
[submodule "Silicon/ARM/MU_TIANO"]
    path = Silicon/ARM/MU_TIANO
    url = https://github.com/Microsoft/mu_silicon_arm_tiano.git
